/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

.list {
  margin-bottom: 20px;
  margin-left: 50px;
}

.list:hover{
  
}

.list li {
  font-size: 30px;
  line-height: 50px;
  background: url(/img/jak.jpg) left no-repeat;
  padding-left: 40px;
}

.list li:first-child{
  text-decoration: line-through;
}

.list li:last-child{
  text-transform: uppercase;
}

.list li:nth-child(2){
  font-weight: 700;
}

.list li:nth-child(3){
  font-style: italic;
}

/*.list li:nth-child(odd){
  font-weight: 700;
}*/

.list-2 {
  margin-bottom: 50px;
  margin-left: 50px;
}

.list-2 li {
  font-size: 30px;
  line-height: 40px;
  background: url(/img/jak.jpg) left no-repeat;
  padding-left: 40px;
}

.list-2 li:nth-child(2):hover{
  color: brown;
}

button{
  margin-left: 100px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #80b7b3;
  color: aliceblue;
}

button:hover{
  background-color: #3a5856;
}

button:active{
  background-color: #818181;
  
}

.zoom{
  margin-top: 50px;
  margin-left: 100px;
  border: 1px solid rgb(148, 147, 147);
  padding: 8px;
}

.zoom:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}